.modalContainer {
  background-color: #ffffff;
  width: 28rem;
  height: 12rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: auto;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  z-index: 9999;
}
.modalHeader {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.1rem;
  padding-right: 0.4rem;
  border-bottom: 0.12rem solid #eaeaea;
}

.headerText {
  font-size: 1rem;
  font-weight: bold;
  color: #101828;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modalContent {
  display: flex;
  flex: 1.5;
  padding: 0 1.1rem;
  align-items: center;
}
.contentText {
  color: #484b50;
  font-size: 0.85rem;
  font-weight: 500;
  white-space: pre-line;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modalBtnDiv {
  flex: 1;
  display: flex;
  padding-right: 1.1rem;
  justify-content: flex-end;
}
.closeBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.closeBtn img {
  height: 2.1rem;
  width: 2.1rem;
}
.modalBtn {
  border: none;
  background-color: #2a2c2f;
  width: 6.67rem;
  height: 2.8rem;
  border-radius: 0.7rem;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
.modalBtn:hover {
  background-color: #333436;
}
.modalBtn:active {
  background-color: #2b2c2f;
  transform: scale(0.95);
}
